html {
	background-image: url("../test/Grumpy-Cat.jpg");
	background-color: black;
}
main h2 {
	background-color: #E6E6FA;
	padding: 1px;
	border: 10px double #FF33FF;
	margin: 5px auto;
}
tr > th {
	border: 3px ridge #FF33FF;
	background-color: #E6E6FA;
}
tr > td {
	border: 2px ridge #FF33FF;
	background-color: #E6E6FA;
}
footer > p + p {
	background-color: black;
	width: 69%;
	text-align: center;
	color: white;
	margin: auto;
	border-width: 0px;
}
li > a {
	color: yellow;
}
header > h1 {
	text-align: center;
	width: 69%;
	margin: auto;
}
html {
	color: #FF33FF;
	font-weight: bold;
	background-repeat: no-repeat;
}
footer > p {
	border-width: 0px;
}
